{%extends 'base.html'%}

{% block content %}
{{block.super}}

<div class="container">
  <body style="background-color:#0A0A0B">



  <!-- Looping through news   -->

  <div class="row">
    {% for photo in photos %}

    <!-- displaying News articles -->
    <div class="col-md-6">

    <a href="{% url 'imagedetails' photo.id %}"><img src="{{photo.image.url}}" class="img-responsive" alt="Image"></a>
    <input class="form-control input-lg" type="text" value="https://gallery003.herokuapp.com/imagedetails{{photo.image.url}}" id ="{{photo.id}}-url">
    <button class="btn btn-outline-info" onclick="copyUrl('{{photo.id}}-url')">Copy Image Url</button>
    </div>

  </div>
  <script type="text/javascript">
      function copyUrl(element){
        var myVar = document.getElementById(element)
        myVar.select();
        document.execCommand('copy')
      }
    </script>

  {% empty %}
  <div class="row">
    <h2 class="text-center">There are no photos yet</h2>
  </div>
  {% endfor %}
</body>
</div>

{% endblock %}
